body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.calculator {
    border: 1px solid #968080;
    border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(184, 188, 192);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #968080;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #938f8ed0;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #897b7bfb;
}

.equal {
    grid-column: span 2;
    background-color: #5f5252;
}

.equal:hover {
    background-color: #897b7bfb;
}
